<launch>
 
  <!-- Transformation Configuration ... Setting Up the Relationships Between Coordinate Frames -->

  <!-- Extended Kalman Filter from robot_pose_ekf Node-->
  <!-- Subscribe: /odom, /imu_data, /vo -->
  <!-- Publish: /robot_pose_ekf/odom_combined -->
  <node pkg="rviz" type="rviz" name="rviz"/>

  <node pkg="odom_pkg" type="odom_pub" name="odom_pub" output="screen"/>
  <node pkg="odom_pkg" type="rviz_click_to_2d" name="rviz_click_to_2d" output="screen"/>
  <!--launch rviz-->
  <remap from="odom" to="odom_data_quat" />
  <remap from="imu_data" to="/rtabmap/imu" />
  <!-- <remap from="vo" to="/rtabmap/rgbd_odometry" /> -->

  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="base_footprint_frame" value="base_link"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="ture"/>
    <param name="gps_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node>

  <!-- Launch rtabmap for SLAM -->
    <arg name="localization" default="false" />
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">        
        <arg name="subscribe_rgbd" value="true" />
        <arg name="rgbd_topic" value="/rgbd_image" />
        <arg name="frame_id" value="base_link" />
        <arg name="approx_sync" value="false" />
        <arg name="imu_topic" value="/rtabmap/imu" />
        <arg name="visual_odometry" value="true" />

        <!-- <arg name="wait_imu_to_init" value="true" /> -->
        <arg name="odom_topic" value="/robot_pose_ekf/odom_combined" />

        <arg name="queue_size" value="10"/>
        <arg name="localization" value="$(arg localization)" />
        <arg name="compressed" value="true" />
        <arg name="rtabmapviz" value="true" />
    </include>
  <!-- Initial Pose and Goal Publisher -->
  <!-- Publish: /initialpose, /move_base_simple/goal -->
  <!-- <node pkg="rviz" type="rviz" name="rviz"> -->
  <!-- </node>  -->
 
  <!-- Subscribe: /initialpose, /move_base_simple/goal -->
  <!-- Publish: /initial_2d, /goal_2d -->
  <!-- <node pkg="localization_data_pub" type="rviz_click_to_2d" name="rviz_click_to_2d"> -->
  <!-- </node>    -->
 
</launch>
