<launch>
  <node pkg="tf" type="static_transform_publisher" name="map_2_odom" args="0 0 0 0 0 0 map odom 30" />
  <node pkg="tf" type="static_transform_publisher" name="odom_2_base_link" args="0 0 0 0 0 0 odom base_link 30" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_2_camera_link" args="0.0972 0 0.05 0 -0.262 0 base_link camera_link 30" />
  <node pkg="odom_pkg" type="odom_test" name="odom_test" output="screen"/>
  <node pkg="odom_pkg" type="rviz_click_to_2d" name="rviz_click_to_2d" output="screen"/>
  <!--launch rviz-->
  <node pkg="rviz" type="rviz" name="rviz"/>
</launch>

