<launch>
    
    <arg name="localization" default="false" />
    <arg name="rviz" default="false" />
    
    <!-- Launch rtabmap for SLAM -->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">        
        <arg name="subscribe_rgbd" value="true" />
        <arg name="rgbd_topic" value="/rgbd_image" />
        <arg name="frame_id" value="base_link" />
        <arg name="approx_sync" value="false" />
        <arg name="imu_topic" value="/rtabmap/imu" />
        <arg name="visual_odometry" value="false" />

        <arg name="wait_imu_to_init" value="false" />
        <arg name="odom_topic" value="/robot_pose_ekf/odom_combined" />

        <arg name="queue_size" value="10"/>
        <arg name="localization" value="$(arg localization)" />
        <arg name="compressed" value="true" />
        <arg name="rtabmapviz" value="true" />
    </include>

</launch>
