<launch>
    <node pkg="rviz" type="rviz" name="rviz"/>

    <node pkg="odom_pkg" type="odom_test" name="odom_test" output="screen"/>
    <node pkg="odom_pkg" type="rviz_click_to_2d" name="rviz_click_to_2d" output="screen"/>
    <!-- Odometry
    <node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" output="screen">
      <param name="subscribe_rgbd" type="bool"   value="true"/>
      <param name="frame_id"       type="string" value="base_link"/>
      <remap from="rgbd_image" to="rgbd_image"/>
      <remap from="odom" to="odom_rtab_vo"/>
    </node> -->
  <node pkg="tf" type="static_transform_publisher" name="map_2_odom" args="0 0 0 0 0 0 map odom 30" />
  <node pkg="tf" type="static_transform_publisher" name="odom_2_base_link" args="0 0 0 0 0 0 odom base_link 30" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_2_camera_link" args="0.0972 0 0.05 0 -0.262 0 base_link camera_link 30" />
  <node pkg="tf" type="static_transform_publisher" name="camera_link_2_optical" args="0 0 0 0 0 0 base_link camera_imu_optical_frame 30" />

    <!--launch rviz-->
  <remap from="odom" to="odom_data_quat" />
  <remap from="imu_data" to="/rtabmap/imu" />
  <remap from="vo" to="/odom_rtab_vo" />

  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
      <param name="output_frame" value="odom_combined"/>
      <param name="base_footprint_frame" value="base_link"/>
      <param name="freq" value="30.0"/>
      <param name="sensor_timeout" value="1.0"/>
      <param name="odom_used" value="true"/>
      <param name="imu_used" value="true"/>
      <param name="vo_used" value="false"/>
      <param name="gps_used" value="false"/>
      <param name="debug" value="false"/>
      <param name="self_diagnose" value="false"/>
      
  </node>
</launch>
